[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/gmeixiong/hugo-sustain
[submodule "hugo-sustain"]
	path = hugo-sustain
	url = https://github.com/gmeixiong/hugo-sustain
